/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
:root {
  --color-primary: #00679f;
  --color-secondary: #efdfbe;
  --color-primary-black: #151614;
  --color-primary-dark: #292929;
  --color-white: #fff;
  --color-yellow: #f0c608;
  --color-gray: #323232;
  --color-gray-light: #a8a8a8;
  --color-bg: rgba(35, 52, 98, 0.1);
}

@font-face {
  font-family: "Gilroy";
  src: url("../../css/fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  color: inherit;
  font-weight: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s all;
  cursor: pointer;
  user-select: none;
  font-size: 0.9rem;
}

:root {
  font-size: 20px;
}
@media (max-width: 1800.98px) {
  :root {
    font-size: 19px;
  }
}
@media (max-width: 1700.98px) {
  :root {
    font-size: 18px;
  }
}
@media (max-width: 1600.98px) {
  :root {
    font-size: 17px;
  }
}
@media (max-width: 1500.98px) {
  :root {
    font-size: 16px;
  }
}
@media (max-width: 1400.98px) {
  :root {
    font-size: 15px;
  }
}
@media (max-width: 1300.98px) {
  :root {
    font-size: 14px;
  }
}
@media (max-width: 1200.98px) {
  :root {
    font-size: 13px;
  }
}
@media (max-width: 1100.98px) {
  :root {
    font-size: 12px;
  }
}
@media (max-width: 1000.98px) {
  :root {
    font-size: 11px;
  }
}
@media (max-width: 900.98px) {
  :root {
    font-size: 10px;
  }
}
@media (max-width: 389.98px) {
  :root {
    font-size: 15px;
  }
}
@media (max-width: 375.98px) {
  :root {
    font-size: 14px;
  }
}
@media (max-width: 345.98px) {
  :root {
    font-size: 13px;
  }
}
@media (max-width: 330.98px) {
  :root {
    font-size: 12px;
  }
}
@media (max-width: 320.98px) {
  :root {
    font-size: 11px;
  }
}
@media (max-width: 300.98px) {
  :root {
    font-size: 10px;
  }
}
@media (max-width: 1000px) and (orientation: landscape) {
  :root {
    font-size: 8.5px;
  }
}
@media (max-width: 700px) and (orientation: landscape) {
  :root {
    font-size: 8px;
  }
}

@media (max-width: 767.98px) and (max-width: 1080px) and (orientation: portrait) {
  :root {
    font-size: 17px;
  }
}
body {
  font-size: 0.9rem;
  box-sizing: border-box;
  font-family: "Gilroy";
  font-weight: 400;
  scroll-behavior: smooth;
  background-color: #f5f5f7;
}

main {
  position: relative;
  width: calc(100% - 5rem);
}
@media (max-width: 768px) {
  main {
    width: 100%;
  }
}

.container {
  margin: 0 auto;
  width: 88vw;
}
@media (max-width: 768px) {
  .container {
    padding: 0 1rem;
    width: 100%;
    max-width: 82.5rem;
  }
}

@media (max-width: 768px) {
  section {
    scroll-margin-top: 5rem;
  }
}
.text_sm {
  font-size: 0.7rem;
  color: var(--color-gray);
}

.font_semibold {
  font-weight: 600;
}
.font_medium {
  font-weight: 500;
}
.font_normal {
  font-weight: 400;
}
.font_light {
  font-weight: 300;
}

.section__title {
  color: var(--color-primary);
  font-size: 3rem;
  font-weight: 500;
  line-height: 3.5rem; /* 116.667% */
}

.section__title_mini {
  font-family: "Euclid Square";
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 101%; /* 18.18px */
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

@media (max-width: 768px) {
  .section__title {
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
.btn_primary {
  background: rgba(217, 217, 217, 0.25);
  backdrop-filter: blur(2rem);
  color: var(--color-white);
  border: 1px solid #a8a8a8;
  border-radius: 5rem;
  transition: all 0.3s;
}
.btn_primary::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -0.3rem;
  height: 0.6rem;
  width: 0.6rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--color-primary);
  transition: all 0.3s;
}
.btn_primary::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -0.5%;
  height: 107%;
  width: 50%;
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
  z-index: -1;
  border: 2px solid var(--color-white);
  border-right: none;
  transition: all 0.3s;
}
.btn_primary:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-color: var(--color-primary);
  transition-delay: 0.1s;
  stroke-dasharray: 232%, 0;
  stroke-dashoffset: 107%;
}
.btn_primary:hover::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--color-white);
  transition-delay: 0.2s;
}
.btn_primary:hover::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -0.5%;
  height: 107%;
  width: 101%;
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
  border-radius: 5rem;
  z-index: -1;
  border-color: var(--color-primary);
}
.btn_primary-gray {
  background: transparent;
  backdrop-filter: blur(2rem);
  color: var(--color-white);
  border: 1px solid #a8a8a8;
  color: #424242;
  border-radius: 5rem;
  transition: all 0.3s;
  stroke: 3px solid red;
}
.btn_primary-gray::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -0.3rem;
  height: 0.6rem;
  width: 0.6rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--color-primary);
  transition: all 0.3s;
}
.btn_primary-gray::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -0.5%;
  height: 107%;
  width: 50%;
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
  z-index: -1;
  border-top: 2px solid #424242;
  border-left: 2px solid #424242;
  border-bottom: 2px solid #424242;
  border-right: none !important;
  transition: all 0.3s;
}
.btn_primary-gray:hover {
  background-color: #424242;
  color: var(--color-white);
  border-color: #424242;
  transition-delay: 0.1s;
  stroke-dasharray: 232%, 0;
  stroke-dashoffset: 107%;
}
.btn_primary-gray:hover::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--color-white);
  transition-delay: 0.2s;
}
.btn_primary-gray:hover::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -0.5%;
  height: 107%;
  width: 101%;
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
  border-radius: 5rem;
  z-index: -1;
  border-color: #424242;
}
.btn_line {
  background-color: transparent;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 0.5rem;
  transition: all 0.3s;
}
.btn_line:hover {
  background-color: var(--color-white);
  color: var(--color-primary-black);
}
.btn_line_white {
  background-color: transparent;
  border: 1px solid var(--color-white);
  border-radius: 5rem;
  transition: all 0.3s;
  padding: 0.8rem 2.1rem;
}
.btn_line_white:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-color: var(--color-primary);
}
.btn_line-carousel {
  background-color: transparent;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 5rem;
  transition: all 0.3s;
}
.btn_line-carousel:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.btn_circle {
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.btn_circle_white {
  border: 1px solid var(--color-white);
}
.btn_circle_white i {
  color: var(--color-white);
}

.statistic {
  grid-column: 1/span 1;
  grid-row: 1/span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}
.statistic-item {
  background-color: var(--color-white);
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  border-radius: 0.75rem;
  color: var(--color-primary);
  gap: 0;
}
.statistic-item img {
  height: 6.5rem;
}
.statistic-item h2 {
  font-size: 3rem;
  font-weight: 500;
}
.statistic-item h2 span {
  font-size: 1.5rem;
  margin-left: 0.8rem;
}
.statistic-item p {
  font-size: 1;
  font-weight: 500;
}

.hoverable {
  position: relative;
  overflow: hidden;
  border-radius: 0.75rem;
}
.hoverable img {
  transition: all 0.3s;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.hoverable:hover img {
  transform: scale(1.05);
}

.logo-bg {
  position: absolute;
  height: 100%;
  top: 45%;
  left: 51%;
  transform: translate(-50%, -50%);
}
.logo-bg.about-logo-bg {
  height: auto;
  width: 90%;
}

.socials {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.socials a {
  display: inline-block;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 1px solid var(--color-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.socials a i {
  transition: all 0.3s;
  font-size: 1.2rem;
  color: var(--color-gray);
}
.socials a:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
.socials a:hover i {
  color: var(--color-white);
}
.socials.white a {
  border: 1px solid var(--color-white);
}
.socials.white a i {
  color: var(--color-white);
}
.socials.white a:hover {
  background-color: var(--color-white);
}
.socials.white a:hover i {
  color: var(--color-primary);
}

.corner-call-btn {
  position: fixed;
  z-index: 20;
  height: 3.7rem;
  width: 3.7rem;
  background: linear-gradient(180deg, #ff8101 0%, #ffd976 100%);
  border-radius: 50%;
  right: 2.25rem;
  bottom: 4.85rem;
  transition: all 0.3s;
}
.corner-call-btn img {
  height: 55%;
}
.corner-call-btn:hover {
  transform: scale(1.1);
}

.border-r30 {
  border-radius: 1.5rem;
}

.with-shape {
  position: relative;
}
.with-shape::before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 90vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -5rem;
  background-color: var(--color-secondary);
  border-radius: 0 1.5rem 1.5rem 0;
}

.with-shape_right {
  position: relative;
}
.with-shape_right::before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 90vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30%;
  background-color: var(--color-secondary);
  border-radius: 1.5rem 0 0 1.5rem;
}

.with-shape_left {
  position: relative;
}
.with-shape_left::before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 90vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30%;
  background-color: var(--color-secondary);
  border-radius: 0 1.5rem 1.5rem 0;
}

.cubic-img {
  position: absolute;
  height: 96rem;
  z-index: -4;
}

@media (max-width: 768px) {
  .statistic {
    grid-column: 1/span 1;
    grid-row: 2/span 1;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .statistic-item {
    background-color: var(--color-white);
    height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
    border-radius: 0.75rem;
    color: var(--color-primary);
    gap: 0;
  }
  .statistic-item img {
    height: 6.5rem;
  }
  .statistic-item h2 {
    font-size: 3rem;
    font-weight: 500;
  }
  .statistic-item h2 span {
    font-size: 1.5rem;
    margin-left: 0.8rem;
  }
  .statistic-item p {
    font-size: 1;
    font-weight: 500;
  }
  .corner-call-btn {
    height: 3rem;
    width: 3rem;
    right: 1.5rem;
    bottom: 1.5rem;
  }
  .with-shape::before {
    height: 120%;
    width: 100vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    border-radius: 0 0 1.5rem 1.5rem;
  }
  .with-shape_right::before,
  .with-shape_left::before {
    height: 70%;
    width: 100vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    border-radius: 0 0 1.5rem 1.5rem;
  }
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 50;
  display: none;
}
.popup .overlay {
  background: rgba(0, 103, 159, 0.8);
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.popup.successful .popup__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6rem;
}
.popup.successful .popup__bottom p {
  text-align: center;
  font-family: Montserrat;
  font-size: 0.8rem;
  line-height: 0.9rem; /* 128.571% */
  width: 80%;
}
.popup.successful .popup-icon {
  background-color: #f6f6f6;
  width: 12.7rem;
  height: 9.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5.75rem;
}
.popup.successful .popup-icon i {
  font-size: 5rem;
  color: var(--color-primary);
}
.popup.about-more .about-more__body {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}
.popup.about-more .about-more__body__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popup.about-more .about-more__body__bottom {
  overflow-y: scroll;
  margin-top: 1rem;
  padding-top: 1rem;
}
.popup.about-more .about-more__body__bottom::-webkit-scrollbar {
  display: none;
}
.popup.about-more .about-more__body__bottom .images-single {
  margin-bottom: 2rem;
}
.popup.about-more .about-more__body__bottom .images-double {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}
.popup.about-more .about-more__body__bottom p {
  margin-bottom: 1rem;
  color: #333;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 170%; /* 37.4px */
}
.popup.about-more .popup__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  max-width: 48rem;
  width: 100%;
  height: 95vh;
}
.popup.about-more .popup__wrapper::after {
  display: none;
}
.popup.about-more .popup__close {
  position: static;
  transform: translate(0);
  border: 1px solid var(--color-primary);
}
.popup__close {
  background-color: var(--color-white);
  position: absolute;
  top: -3.7rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}
.popup__close svg {
  width: 1rem;
}
.popup__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  max-width: 23.4rem;
  width: 100%;
  height: 28rem;
}
.popup__wrapper::after {
  content: "";
  position: absolute;
  height: 5%;
  bottom: 0;
  width: 100%;
  z-index: -7;
  border-radius: 0 0 1rem 1rem;
  background-color: var(--color-primary);
}
.popup__content {
  width: 100%;
  height: 99%;
  background-color: var(--color-white);
  padding: 2.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 1rem;
  z-index: 1;
}
.popup__top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
}
.popup__top h3 {
  color: var(--color-primary);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
}
.popup__top p {
  color: #424242;
  text-align: center;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 150%; /* 21px */
}
.popup__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
}
.popup__form input {
  height: 3.5rem;
  width: 100%;
  border-radius: 5rem;
  border: none;
  outline: none;
  background-color: transparent;
  border: 0.05rem solid #4d4d4d;
  text-align: center;
  color: var(--color-primary);
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 20.8px */
  transition: all 0.3s;
}
.popup__form input:focus {
  border-color: var(--color-primary);
}
.popup__form input[type=number]::-webkit-outer-spin-button, .popup__form input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.popup__form button {
  width: 100%;
  height: 3.5rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 5rem;
}
.popup__form p {
  text-align: center;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 0.9rem; /* 128.571% */
  width: 80%;
}

@media (max-width: 768px) {
  .popup__wrapper {
    top: 100%;
    transform: translate(-50%, -100%);
    max-width: 100%;
    height: 29rem;
  }
  .popup.about-more .about-more__body__bottom .images-single {
    margin-bottom: 0.5rem;
    height: 15rem;
  }
  .popup.about-more .about-more__body__bottom .images-double {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }
  .popup.about-more .popup__wrapper {
    width: 95%;
    height: 95vh;
  }
}
.language {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 15;
}
.language__open {
  position: relative;
  aspect-ratio: 1/1 !important;
  z-index: 6;
  background-color: var(--color-primary);
}
.language__icon {
  width: 100%;
  aspect-ratio: 1/1;
}
.language__body {
  position: absolute;
  border: 1px solid var(--3, #fff);
  background-color: var(--color-primary);
  bottom: 58%;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 0 0 1.5rem 0;
  border-radius: 2rem 2rem 0 0;
  overflow: hidden;
  display: none;
}
.language__body li {
  width: 100%;
  text-align: center;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
}
.language__body li:hover {
  background-color: var(--color-white);
}
.language__body li:first-child {
  padding-top: 0.7rem;
}
.language.for-mobile .language__open {
  position: relative;
  aspect-ratio: 1/1;
  z-index: 6;
  background-color: var(--color-white);
  border-color: var(--color-primary);
}
.language.for-mobile .language__open image {
  width: 8%;
}
.language.for-mobile .language__icon {
  width: 80%;
}
.language.for-mobile .language__body {
  position: absolute;
  border: 1px solid var(--3, #fff);
  background-color: var(--color-white);
  border-color: var(--color-primary);
  bottom: auto;
  top: 58%;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem 0 0 0;
  border-radius: 0 0 2rem 2rem;
  overflow: hidden;
  display: none;
}
.language.for-mobile .language__body li {
  width: 100%;
  text-align: center;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
}
.language.for-mobile .language__body li:hover {
  background-color: var(--color-primary);
}
.language.for-mobile .language__body li:last-child {
  padding-bottom: 0.7rem;
}

.carousel__services {
  position: relative;
  height: 22rem;
  margin-top: 2rem;
}
.carousel__services .carousel__controls {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  top: -6.2rem;
  bottom: auto;
  right: 0;
  z-index: 2;
}
.carousel__services .carousel__controls button {
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel__services .carousel__controls button i {
  font-size: 0.7rem;
  line-height: 100%;
}
.carousel__testimonials {
  padding-bottom: 0;
}
.carousel__testimonials .carousel__item {
  transition: 0.6s all;
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  border-radius: 1.5rem;
}
@media (max-width: 768px) {
  .carousel__testimonials .carousel__item {
    padding: 1rem;
    gap: 1.5rem;
  }
}
.carousel__testimonials .carousel__item__text {
  padding-right: 5rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6rem; /* 160% */
}
@media (max-width: 768px) {
  .carousel__testimonials .carousel__item__text {
    line-height: 1.4rem;
    padding-right: 2rem;
  }
}
.carousel__testimonials .carousel__item__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carousel__testimonials .carousel__item__info img {
  height: 3rem;
}
.carousel__testimonials .carousel__item__info_left {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}
.carousel__testimonials .carousel__item__info_left h5 {
  font-family: "Euclid Square";
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.carousel__testimonials .carousel__item__info_right {
  width: 2.2rem;
  aspect-ratio: 1/1;
}
.carousel__testimonials .carousel__item__info_stars {
  display: flex;
  gap: 0.2rem;
  margin-top: 0.2rem;
}
.carousel__testimonials .carousel__item__info_stars i {
  font-size: 0.7rem;
  color: var(--color-yellow);
}
.carousel__testimonials .carousel__item:hover {
  background-color: rgba(67, 92, 37, 0.3019607843);
}
.carousel__testimonials .swiper-pagination {
  bottom: 2rem !important;
  width: fit-content !important;
  left: 50% !important;
  transform: translateX(-50%);
}
.carousel__testimonials .swiper-pagination-bullet {
  background-color: #eaeaea;
  opacity: 1;
}
.carousel__testimonials .swiper-pagination-bullet-active {
  background-color: var(--color-primary);
}
.carousel__testimonials .carousel__controls {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  bottom: 0.5rem;
  right: 0;
  z-index: 2;
}
.carousel__testimonials .carousel__controls button {
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel__testimonials .carousel__controls button i {
  font-size: 0.7rem;
  line-height: 100%;
}
.carousel__vacancy {
  width: 100%;
  height: 100%;
  max-height: 31rem;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 100%;
}

@media (max-width: 768px) {
  .carousel__services .carousel__controls {
    width: fit-content;
    height: fit-content;
    top: auto;
    bottom: -6rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    z-index: 2;
  }
  .carousel__testimonials .swiper-pagination {
    display: none;
  }
  .carousel__testimonials .carousel__controls {
    justify-content: center;
  }
  .carousel__projects {
    margin-top: 2rem;
    overflow: visible;
  }
  .carousel__vacancy {
    overflow: visible;
  }
}
.callback {
  color: var(--color-primary);
}
.callback h5 {
  margin-bottom: 1.5rem;
}
.callback h3 {
  font-size: 2.1rem;
  font-weight: 500;
  line-height: 2.5rem; /* 166.667% */
  margin-bottom: 1rem;
}
.callback form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  column-gap: 1.5rem;
}
.callback form input {
  padding: 0.9rem 0;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color-gray-light);
  color: var(--color-gray-light);
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160.2%; /* 25.632px */
  transition: all 0.3s;
}
.callback form input:hover, .callback form input:focus {
  color: var(--color-primary);
  border-color: var(--color-primary);
}
.callback form input:hover::placeholder, .callback form input:focus::placeholder {
  color: var(--color-primary);
}
.callback form p {
  grid-column: 1/span 2;
  color: var(--color-gray-light);
  margin-top: 1.5rem;
}
.callback form button {
  grid-row: 3/span 1;
  font-style: normal;
  font-size: 0.9rem;
  font-weight: 400;
  width: fit-content;
  margin-top: 2rem;
  padding: 1rem 5rem;
}

@media (max-width: 768px) {
  .callback {
    color: var(--color-primary);
  }
  .callback h5 {
    margin-bottom: 1.5rem;
    font-size: 1rem;
  }
  .callback h3 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.5rem; /* 166.667% */
    margin-bottom: 1rem;
  }
  .callback form {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 1rem;
    column-gap: 1.5rem;
  }
  .callback form input {
    padding: 0.9rem 0;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color-gray-light);
    color: var(--color-gray-light);
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160.2%; /* 25.632px */
    transition: all 0.3s;
  }
  .callback form input:hover, .callback form input:focus {
    color: var(--color-primary);
    border-color: var(--color-primary);
  }
  .callback form input:hover::placeholder, .callback form input:focus::placeholder {
    color: var(--color-primary);
  }
  .callback form p {
    grid-column: auto;
    color: var(--color-gray-light);
    margin-top: 1.5rem;
  }
  .callback form button {
    grid-row: auto;
    font-style: normal;
    font-size: 0.9rem;
    font-weight: 400;
    width: fit-content;
    margin-top: 1rem;
    padding: 1rem 5rem;
  }
}
.carousel__controls {
  display: flex;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
.carousel__controls button {
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel__controls button i {
  font-size: 0.8rem;
}
.carousel__controls .carousel-num {
  color: var(--color-primary);
  font-size: 1rem;
  transform: translateY(0.3rem);
  font-weight: 400;
  line-height: 100%;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel__controls .carousel-num .current {
  font-size: 2.05rem;
  transform: translateY(-0.3rem);
}

.navigator {
  position: fixed;
  z-index: 20;
  height: 100vh;
  width: 5rem;
  top: 0;
  right: 0;
  transition: all 0.3s;
}
.navigator__open {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--color-white);
}
.navigator__open-icon {
  width: 39px;
  height: 39px;
  margin-bottom: 0.5rem;
  aspect-ratio: 1/1;
  position: relative;
}
.navigator__open-icon::before, .navigator__open-icon::after {
  content: "";
  position: absolute;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 100%;
  background-color: var(--color-white);
  transition: all 0.3s;
}
.navigator__open-icon::before {
  top: 30%;
}
.navigator__open-icon::after {
  bottom: 30%;
}
.navigator__open-icon.active::before {
  transform: translate(-50%, 340%) rotate(45deg);
}
.navigator__open-icon.active::after {
  transform: translate(-50%, -340%) rotate(-45deg);
}
.navigator__wrapper {
  background-color: var(--color-primary);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 1.5rem;
}
.navigator__wrapper .btn_yellow {
  height: 2.6rem;
  padding: 1rem 1.5rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 101%; /* 18.18px */
}
.navigator__logo {
  height: 2.1rem;
  height: 3.2rem;
  transition: all 0.3s;
}
.navigator__logo img {
  height: 100%;
}
.navigator__navigation__popup {
  background-color: var(--color-white);
  position: fixed;
  transform: translateX(100%);
  transition: all 0.5s;
  right: 0;
  height: 100vh;
  top: 0;
  z-index: 15;
  padding-right: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.navigator__navigation__popup.active {
  transform: translateX(0);
}
.navigator__navigation__popup__top {
  display: none;
}
.navigator__navigation__popup .socials {
  position: absolute;
  bottom: 1.5rem;
  left: 2.5rem;
}
.navigator__navigation {
  width: 35.75rem;
  margin-top: -5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
  padding: 0 2.5rem;
}
.navigator__navigation li {
  width: 100%;
  padding-bottom: 2px;
}
.navigator__navigation__link {
  display: inline-block;
  padding: 0.5rem 0.75rem;
  width: 100%;
  padding-left: 0;
  color: var(--color-gray);
  font-size: 1.75rem;
  font-weight: 500;
  line-height: normal;
  transition: all 0.3s;
  position: relative;
}
.navigator__navigation__link::after {
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
  bottom: -1px;
  left: 0;
  height: 1px;
  width: 70%;
  transition: all 0.3s;
  background: linear-gradient(90deg, #323232 0%, #fff 100%);
  -webkit-font-smoothing: antialiased;
  transform: translateZ(0);
}
.navigator__navigation__link:hover {
  color: var(--color-primary);
  font-size: 2.2rem;
}
.navigator__navigation__link:hover::after {
  width: 100%;
  background: linear-gradient(90deg, #00679f 0%, #fff 100%);
}
.navigator__navigation__link.active {
  color: var(--color-primary);
  font-size: 2.2rem;
}
.navigator__navigation__link.active::after {
  width: 100%;
  background: linear-gradient(90deg, #00679f 0%, #fff 100%);
}
.navigator__actions {
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.navigator__actions button {
  padding: 0.6rem;
  width: 100%;
}

@media (max-width: 768px) {
  .navigator {
    display: none;
  }
  .navigator__navigation__popup {
    width: 100vw;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 7rem 1rem 1rem 1rem;
  }
  .navigator__navigation__popup__top {
    width: 100%;
    height: 6rem;
    position: absolute;
    z-index: 5;
    top: 0;
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .navigator__navigation__popup__top .btn_line {
    height: 100%;
    aspect-ratio: 1/1;
    position: relative;
  }
  .navigator__navigation__popup__top .btn_line i {
    font-size: 1.1rem;
  }
  .navigator__navigation__popup__top .btn_line svg {
    height: 30%;
  }
  .navigator__navigation__popup__top .left {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  .navigator__navigation__popup__top .left button {
    height: 100%;
    aspect-ratio: 1/1;
  }
  .navigator__navigation__popup .socials {
    position: static;
    justify-content: flex-start;
  }
  .navigator__navigation {
    width: 100%;
    margin-top: 0;
    padding: 0;
  }
  .navigator__navigation__link {
    font-size: 1.6rem;
  }
}
.footer {
  overflow: hidden;
  color: var(--color-white);
  background-color: var(--color-primary);
}
.footer__bg {
  position: absolute;
  top: 1rem;
  left: 0;
  height: 110%;
  z-index: -1;
}
.footer__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.footer__address h4 {
  margin-bottom: 0.75rem;
  font-weight: 400;
}
.footer__address p {
  font-weight: 500;
  margin-bottom: 1.5rem;
  width: 80%;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer__nav__link {
  font-size: 400;
  transition: all 0.3s;
}
.footer__nav__link.active {
  color: var(--color-yellow);
}
.footer__nav__link:hover {
  color: var(--color-yellow);
}
.footer__left {
  padding: 2.5rem 2.5rem 0 2.5rem;
  position: relative;
}
.footer__left__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2.5rem;
}
.footer__left .socials {
  margin: 0;
}
.footer__left .up {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.75rem;
}
.footer__left .up a {
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  position: relative;
  background-color: var(--color-white);
}
.footer__left .up a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.7rem;
  line-height: 100%;
  color: var(--color-primary);
}
.footer__left .up span {
  font-size: 0.8rem;
  font-weight: 200;
}
.footer__left__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 67%;
}
.footer__right {
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 1.5rem 0 0 1.5rem;
}
.footer__right iframe {
  position: absolute;
  height: 100%;
  width: 100% !important;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

@media (max-width: 768px) {
  .footer__bg {
    height: auto;
    width: 110%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .footer__wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
  .footer__left {
    padding: 0 1.5rem;
  }
  .footer__left__bottom {
    margin-top: 1rem;
  }
  .footer__right {
    height: 24rem;
    border-radius: 0 0 1.5rem 1.5rem;
  }
}
@media (max-width: 540px) {
  .footer__left__wrapper {
    gap: 1.5rem;
  }
  .footer__left__wrapper .up-btn {
    grid-column: 2/span 1;
    grid-row: 1/span 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .footer__left__wrapper .socials {
    grid-column: 1/span 2;
  }
  .footer__left__wrapper .footer__address {
    grid-column: 1/span 2;
  }
  .footer__bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  .footer__bottom p {
    width: 100%;
  }
}
.header {
  position: absolute;
  width: 100;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  height: 5.9rem;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  color: var(--color-white);
}
.header__logo {
  height: 2.1rem;
  transition: all 0.3s;
}
.header__logo img {
  height: 100%;
}
.header__mobile__btn {
  border: 1px solid var(--color-white);
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.header__mobile__btn .icon {
  max-width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__mobile__btn .icon svg {
  max-width: 90%;
  transition: all 0.3s;
}
.header__mobile__btn:hover {
  background-color: var(--color-primary);
}
.header__mobile__btn:hover .icon svg {
  fill: var(--color-white);
}

@media (max-width: 768px) {
  .header.header__scrolled {
    position: fixed;
    z-index: 5;
    top: 0;
    width: 100%;
    height: 4rem;
    transition: all 0.3s;
    background-color: var(--color-primary);
    box-shadow: 0 -50px 70px 10px var(--color-gray);
  }
  .header .btn_line_white {
    display: none;
  }
  .header__mobile__btn {
    display: flex;
  }
}
.head {
  background-color: rgba(0, 0, 0, 0.32);
  overflow: hidden;
  position: relative;
  height: 100vh;
}
.head .container {
  height: 100%;
}
.head__wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.head__info {
  margin-top: -3rem;
  position: relative;
  z-index: 2;
  width: 60%;
  color: var(--color-white);
}
.head__info h1 {
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.5rem; /* 116.667% */
  width: 80%;
}
.head__info button {
  padding: 0.85rem 3rem;
}
.head__buttons {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.5rem;
}
.head__img img {
  max-width: 100%;
  width: 27rem;
  height: 27.85rem;
  border-radius: 1.5rem;
}
.head__carousel {
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.head__carousel .swiper {
  height: 100%;
}
.head__carousel .swiper-slide {
  position: relative;
}
.head__carousel .swiper-slide img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.head__carousel .swiper-pagination {
  justify-content: flex-start;
  width: fit-content !important;
  left: 3rem !important;
  bottom: 3rem !important;
  display: flex;
  align-items: flex-end;
  gap: 1.5rem;
  counter-reset: span-counter; /* Counterni boshlash */
}
.head__carousel .swiper-pagination-bullet {
  opacity: 1;
  background-color: transparent;
  border-radius: 0;
  padding: 0 0.4rem;
  width: 2rem;
  height: 3rem;
  transition: all 0.3s;
  position: relative;
  counter-increment: span-counter;
}
.head__carousel .swiper-pagination-bullet:before {
  content: "";
  position: absolute;
  left: -1px;
  top: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(#9b9b9b 0%, #353535 100%);
}
.head__carousel .swiper-pagination-bullet:after {
  content: counter(span-counter, decimal-leading-zero); /* Raqamni "01, 02, ..." shaklida qo'shish */
  font-size: 1.5rem;
  color: var(--color-white);
  transition: all 0.3s;
}
.head__carousel .swiper-pagination-bullet.swiper-pagination-bullet-active {
  height: 5rem;
}
.head__carousel .swiper-pagination-bullet.swiper-pagination-bullet-active:after {
  color: var(--color-primary);
}

.about {
  margin-top: 3rem;
  padding-top: 2rem;
}
.about-section__wrapper {
  border-top: 0.1rem solid var(--color-primary);
  border-bottom: 0.1rem solid var(--color-primary);
  padding: 1.5rem 0 5rem 0;
  margin-top: 1.5rem;
}
.about__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.5rem;
  height: 37.8rem;
}
.about__texts {
  grid-column: 2/span 1;
  grid-row: 1/span 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  align-items: flex-end;
  color: var(--color-primary);
}
.about__texts__top {
  display: flex;
  gap: 1.5rem;
}
.about__texts__top h2 {
  width: 50%;
  font-size: 1.2rem;
  font-weight: 600;
}
.about__texts__top p {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  font-weight: 300;
}
.about__texts__top > div {
  width: 50%;
}
.about__texts button {
  padding: 1rem 0;
  width: 50%;
}
.about__img {
  grid-column: 2/span 1;
  grid-row: 2/span 1;
  border-radius: 0.75rem;
  position: relative;
  overflow: hidden;
}

.services {
  padding-top: 1.5rem;
}
.services__wrapper {
  height: 36.6rem;
  display: grid;
  gap: 1.5rem;
}
.services__box {
  position: relative;
}
.services__box-1 {
  grid-column: 1/span 3;
  grid-row: 1/span 2;
}
.services__box-1 h2 {
  position: absolute;
}
.services__box-2 {
  grid-column: 1/span 3;
  grid-row: 3/span 3;
}
.services__box-3 {
  grid-column: 4/span 2;
  grid-row: 1/span 5;
}
.services__box-4 {
  grid-column: 6/span 2;
  grid-row: 1/span 3;
}
.services__box-5 {
  grid-column: 6/span 2;
  grid-row: 4/span 2;
}
.services__button {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.services__button button {
  padding: 1rem 0;
  width: 70%;
}
.services .services__card {
  padding: 1.5rem;
  border-radius: 0.75rem;
  overflow: hidden;
  color: var(--color-white);
  background-color: rgba(0, 0, 0, 0.5);
}
.services .services__card h4 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
  width: 100%;
  max-width: 20rem;
}
.services .services__card p {
  font-size: 1rem;
  font-weight: 400;
  transition: all 0.5s;
  width: 100%;
  max-width: 18rem;
  opacity: 0;
}
.services .services__card button {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  padding: 0;
  height: 4rem;
  width: 4rem;
}
.services .services__card__img {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.services .services__card__img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: all 0.3s;
}
.services .services__card:hover p {
  opacity: 1;
}
.services .services__card:hover img {
  transform: scale(1.1);
}

.products {
  margin-top: 3rem;
  padding-top: 2rem;
}
.products__wrapper {
  margin-top: 2rem;
  height: 35rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}
.products__wrapper > div {
  height: 100%;
  width: 50%;
}
.products__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}
.products__left p {
  color: var(--color-primary);
  font-weight: 300;
  margin-bottom: 0.75rem;
  width: 85%;
}
.products__left .products__box {
  height: 75%;
}
.products__box {
  border-radius: 0.75rem;
  overflow: hidden;
  width: 100%;
  position: relative;
}
.products__box__front {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  z-index: 2;
}
.products__box img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  z-index: 1;
}
.products__box button {
  position: absolute;
  padding: 0.9rem 2.3rem;
  bottom: 2rem;
  right: 2rem;
}

.projects {
  margin-top: 5rem;
  padding: 1.5rem 0;
  border-top: 2px solid var(--color-primary);
  position: relative;
}
.projects__bg {
  position: absolute;
  height: 95%;
  top: 5rem;
  z-index: -1;
  left: -9rem;
}
.projects__wrapper {
  display: grid;
  grid-template-columns: 20% 20% 60%;
  height: 33.8rem;
}
.projects__wrapper .for-controls {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 1rem 0 0;
}
.projects-item {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-primary);
}
.projects-item__info {
  opacity: 0;
  transition: all 0.8s;
  transform: translateY(3rem);
  transition-delay: 0.3s;
}
.projects-item__info p {
  font-weight: 300;
  width: 80%;
  margin-bottom: 1.5rem;
}
.projects-item__info button {
  padding: 0.8rem 5.5rem;
  margin-left: 9px;
}
.projects-item__image {
  height: 22rem;
  width: 100%;
  transition: all 0.8s;
  opacity: 0;
  transform: translateY(-1rem);
  transition-delay: 0.4s;
}
.projects__carousel {
  height: 100%;
}
.projects__carousel .swiper-slide.swiper-slide-active .projects-item__image, .projects__carousel .swiper-slide.swiper-slide-active .projects-item__info {
  opacity: 1;
  transform: translate(0);
}
.projects .swiper {
  height: 100%;
}

.partners {
  margin-top: 5rem;
  padding-top: 1rem;
  position: relative;
}
.partners-page {
  margin-top: 8rem;
}
.partners__wrapper {
  display: grid;
  margin-top: 2.5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
.partners-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8.7rem;
  border-radius: 1.5rem;
  background: #fff;
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.05);
  transition: all 0.3s;
  cursor: pointer;
}
.partners-item:hover {
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.1);
}
.partners-item img {
  max-width: 70%;
  max-height: 70%;
}

.news {
  margin-top: 3rem;
  padding-top: 2rem;
}
.news__wrapper {
  margin-top: 1.5rem;
}
.news__wrapper .for-controls {
  display: none;
}
.news-item {
  height: 20rem;
  background-color: var(--color-primary);
  border-radius: 0.75rem;
  overflow: hidden;
  position: relative;
}
.news-item__info {
  height: 100%;
  padding: 1.5rem;
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
}
.news-item__shade {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
}
.news-item__top h3 {
  margin-bottom: 1.25rem;
  width: 80%;
  font-size: 1.2rem;
  font-weight: 500;
}
.news-item__top p {
  opacity: 0;
  transform: translateY(1rem);
  transition: all 0.5s;
  font-weight: 400;
}
.news-item__bottom {
  width: 100%;
  text-align: right;
}
.news-item:hover .news-item__shade {
  opacity: 1;
}
.news-item:hover .news-item__top p {
  opacity: 1;
  transform: translate(0);
}

.contacts {
  margin-top: 5rem;
  padding: 2rem 0;
  border-top: 2px solid var(--color-primary);
  background-color: var(--color-white);
}
.contacts__wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}
.contacts__wrapper .section__title {
  line-height: 0;
}

@media (max-width: 768px) {
  .head__wrapper {
    flex-direction: column;
    gap: 2.5rem;
  }
  .head__info {
    margin-top: -10rem;
    width: 100%;
  }
  .head__info h1 {
    font-size: 1.9rem;
    line-height: 3rem; /* 116.667% */
    width: 100%;
  }
  .head__info p {
    margin-top: 1.6rem;
    width: 100%;
  }
  .head__buttons {
    width: 100%;
  }
  .head__buttons button {
    width: 50%;
  }
  .head__carousel .swiper-pagination {
    justify-content: center;
    width: 100% !important;
    left: 0 !important;
    bottom: 0 !important;
  }
  .about {
    margin-top: 1rem;
  }
  .about__wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    height: fit-content;
  }
  .about__texts {
    grid-column: 1/span 1;
    gap: 1.5rem;
  }
  .about__texts__top {
    flex-direction: column;
  }
  .about__texts__top h2 {
    width: 100%;
  }
  .about__texts__top > div {
    width: 100%;
  }
  .about__texts button {
    width: 100%;
  }
  .about__img {
    height: 22rem;
    grid-column: 1/span 1;
    grid-row: 3/span 1;
  }
  .services {
    margin-top: 2rem;
  }
  .services__wrapper {
    height: fit-content;
  }
  .services__box {
    grid-column: auto;
    grid-row: auto;
  }
  .services__box h2 {
    position: static;
  }
  .services__button button {
    width: 100%;
    margin-top: 2rem;
  }
  .services .services__card {
    height: 18rem;
  }
  .services .services__card p {
    opacity: 1;
  }
  .products__wrapper {
    height: fit-content;
    flex-direction: column;
  }
  .products__wrapper > div {
    width: 100%;
  }
  .products__left p {
    width: 100%;
  }
  .products__box {
    height: 18rem !important;
  }
  .projects {
    margin-top: 4rem;
  }
  .projects__bg {
    height: auto;
    width: 90%;
    max-width: 30rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .projects__wrapper {
    grid-template-columns: 100%;
    height: fit-content;
    gap: 1rem;
  }
  .projects__wrapper .for-controls {
    grid-row: 3/span 1;
    height: fit-content;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 0 0;
  }
  .projects-item {
    gap: 2rem;
  }
  .projects-item__info p {
    width: 100%;
  }
  .projects__carousel {
    height: fit-content;
  }
  .partners {
    margin-top: 4rem;
  }
  .partners__wrapper {
    margin-top: 1.5rem;
    grid-template-columns: 1fr 1fr;
  }
  .partners-item {
    height: 6rem;
    border-radius: 15px;
  }
  .partners-item img {
    max-width: 65%;
    max-height: 70%;
  }
  .news {
    margin-top: 0;
    padding-top: 5rem;
    overflow: hidden;
  }
  .news__wrapper .swiper {
    overflow: visible;
  }
  .news__wrapper .for-controls {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .news .swiper-slide.swiper-slide-active .news-item__shade {
    transform: rotate(0);
  }
  .news-item__shade {
    opacity: 1;
    transform: rotateY(180deg);
  }
  .news-item__top p {
    opacity: 1;
    transform: translateY(0);
  }
  .contacts {
    margin-top: 3rem;
    padding: 3rem 0;
    border-top: 2px solid var(--color-primary);
  }
  .contacts__wrapper {
    display: grid;
    grid-template-columns: 100%;
    gap: 3rem;
  }
}

/*# sourceMappingURL=style.css.map */
