.footer {
  overflow: hidden;
  color: var(--color-white);
  background-color: var(--color-primary);
  // position: relative;

  &__bg {
    position: absolute;
    top: 1rem;
    left: 0;
    height: 110%;
    z-index: -1;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }

  &__address {
    h4 {
      margin-bottom: 0.75rem;
      font-weight: 400;
    }

    p {
      font-weight: 500;
      margin-bottom: 1.5rem;
      width: 80%;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__link {
      font-size: 400;
      transition: all 0.3s;

      &.active {
        color: var(--color-yellow);
      }

      &:hover {
        color: var(--color-yellow);
      }
    }
  }

  &__left {
    padding: 2.5rem 2.5rem 0 2.5rem;
    position: relative;

    &__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 2.5rem;
    }
    .socials {
      margin: 0;
    }

    .up {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.75rem;

      a {
        height: 2.4rem;
        width: 2.4rem;
        border-radius: 50%;
        position: relative;
        background-color: var(--color-white);

        i {
          @include absCenter;
          font-size: 0.7rem;
          line-height: 100%;
          color: var(--color-primary);
        }
      }

      span {
        font-size: 0.8rem;
        font-weight: 200;
      }
    }

    &__bottom {
      @include spaced;
      // background-color: red;
      width: 67%;
    }
  }

  &__right {
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 1.5rem 0 0 1.5rem;

    iframe {
      position: absolute;
      height: 100%;
      width: 100% !important;
    }
  }

  &__bottom {
    @include spaced;
    padding: 1.5rem 0;
  }
}

@media (max-width: 768px) {
  .footer {
    &__bg {
      height: auto;
      width: 110%;
      @include absCenter;
    }
    &__wrapper {
      display: flex;
      flex-direction: column-reverse;
    }

    &__left {
      padding: 0 1.5rem;

      &__bottom {
        margin-top: 1rem;
      }
    }

    &__right {
      height: 24rem;
      border-radius: 0 0 1.5rem 1.5rem;
    }
  }
}

@media (max-width: 540px) {
  .footer {
    &__left {
      &__wrapper {
        gap: 1.5rem;

        .up-btn {
          grid-column: 2 / span 1;
          grid-row: 1 / span 1;
          display: flex;
          justify-content: flex-end;
          align-items: flex-start;
        }

        .socials {
          grid-column: 1 / span 2;
        }

        .footer__address {
          grid-column: 1 / span 2;
        }
      }
    }

    &__bottom {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;

      p {
        width: 100%;
      }
    }
  }
}
