.header {
  position: absolute;
  width: 100;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  height: 5.9rem;
  transition: all 0.3s;
  @include center;

  &__wrapper {
    @include spaced;
    position: relative;
    color: var(--color-white);
  }

  &__logo {
    height: 2.1rem;
    transition: all 0.3s;

    img {
      height: 100%;
    }
  }

  &__mobile {
    &__btn {
      border: 1px solid var(--color-white);
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 50%;
      @include center;
      display: none;

      .icon {
        max-width: 60%;
        @include center;
        svg {
          max-width: 90%;
          transition: all 0.3s;
        }
      }

      &:hover {
        background-color: var(--color-primary);

        & .icon svg {
          fill: var(--color-white);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    &.header__scrolled {
      position: fixed;
      z-index: 5;
      top: 0;
      width: 100%;
      height: 4rem;
      transition: all 0.3s;
      // background-color: rgba(0, 0, 0, 0.493);
      background-color: var(--color-primary);
      box-shadow: 0 -50px 70px 10px var(--color-gray);
    }

    .btn_line_white {
      display: none;
    }

    &__mobile {
      &__btn {
        display: flex;
      }
    }
  }
}
