.callback {
  color: var(--color-primary);
  h5 {
    margin-bottom: 1.5rem;
  }

  h3 {
    font-size: 2.1rem;
    font-weight: 500;
    line-height: 2.5rem; /* 166.667% */
    margin-bottom: 1rem;
  }

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1.5rem;

    input {
      padding: 0.9rem 0;
      background-color: transparent;
      border: none;
      outline: none;
      border-bottom: 1px solid var(--color-gray-light);
      color: var(--color-gray-light);
      font-size: 0.8rem;
      font-style: normal;
      font-weight: 400;
      line-height: 160.2%; /* 25.632px */
      transition: all 0.3s;

      &:hover,
      &:focus {
        color: var(--color-primary);
        border-color: var(--color-primary);
        &::placeholder {
          color: var(--color-primary);
        }
      }
    }

    p {
      grid-column: 1 / span 2;
      color: var(--color-gray-light);
      margin-top: 1.5rem;
    }

    button {
      grid-row: 3 / span 1;
      font-style: normal;
      font-size: 0.9rem;
      font-weight: 400;
      width: fit-content;
      margin-top: 2rem;
      padding: 1rem 5rem;
    }
  }
}

@media (max-width: 768px) {
  .callback {
    color: var(--color-primary);
    h5 {
      margin-bottom: 1.5rem;
      font-size: 1rem;
    }

    h3 {
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 2.5rem; /* 166.667% */
      margin-bottom: 1rem;
    }

    form {
      display: grid;
      grid-template-columns: 100%;
      row-gap: 1rem;
      column-gap: 1.5rem;

      input {
        padding: 0.9rem 0;
        background-color: transparent;
        border: none;
        outline: none;
        border-bottom: 1px solid var(--color-gray-light);
        color: var(--color-gray-light);
        font-size: 0.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 160.2%; /* 25.632px */
        transition: all 0.3s;

        &:hover,
        &:focus {
          color: var(--color-primary);
          border-color: var(--color-primary);
          &::placeholder {
            color: var(--color-primary);
          }
        }
      }

      p {
        grid-column: auto;
        // grid-row:  / span 1;
        color: var(--color-gray-light);
        margin-top: 1.5rem;
      }

      button {
        grid-row: auto;
        font-style: normal;
        font-size: 0.9rem;
        font-weight: 400;
        width: fit-content;
        margin-top: 1rem;
        padding: 1rem 5rem;
      }
    }
  }
}
