.statistic {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;

  &-item {
    background-color: var(--color-white);
    height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
    border-radius: 0.75rem;
    color: var(--color-primary);
    gap: 0;

    img {
      height: 6.5rem;
    }
    h2 {
      font-size: 3rem;
      font-weight: 500;
      span {
        font-size: 1.5rem;
        margin-left: 0.8rem;
      }
    }

    p {
      font-size: 1;
      font-weight: 500;
    }
  }
}

.hoverable {
  position: relative;
  overflow: hidden;
  border-radius: 0.75rem;
  img {
    transition: all 0.3s;
    @include fullImg;
  }
  &:hover img {
    transform: scale(1.05);
  }
}

.logo-bg {
  position: absolute;
  height: 100%;
  top: 45%;
  left: 51%;
  transform: translate(-50%, -50%);

  &.about-logo-bg {
    height: auto;
    width: 90%;
  }
}

.socials {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;

  a {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 1px solid var(--color-gray);
    @include center;
    transition: all 0.3s;

    i {
      transition: all 0.3s;
      font-size: 1.2rem;
      color: var(--color-gray);
    }

    &:hover {
      background-color: var(--color-primary);
      border-color: var(--color-primary);
      i {
        color: var(--color-white);
      }
    }
  }

  &.white {
    a {
      border: 1px solid var(--color-white);

      i {
        color: var(--color-white);
      }

      &:hover {
        background-color: var(--color-white);
        i {
          color: var(--color-primary);
        }
      }
    }
  }
}

.corner-call-btn {
  position: fixed;
  z-index: 20;
  height: 3.7rem;
  width: 3.7rem;
  background: linear-gradient(180deg, #ff8101 0%, #ffd976 100%);
  border-radius: 50%;
  right: 2.25rem;
  bottom: 4.85rem;
  transition: all 0.3s;

  img {
    height: 55%;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.border-r30 {
  border-radius: 1.5rem;
}

.with-shape {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 90vw;
    @include absCenterY;
    right: -5rem;
    background-color: var(--color-secondary);
    border-radius: 0 1.5rem 1.5rem 0;
  }
}

.with-shape_right {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 90vw;
    @include absCenterY;
    left: 30%;
    background-color: var(--color-secondary);
    border-radius: 1.5rem 0 0 1.5rem;
  }
}

.with-shape_left {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 90vw;
    @include absCenterY;
    right: 30%;
    background-color: var(--color-secondary);
    border-radius: 0 1.5rem 1.5rem 0;
  }
}

.cubic-img {
  position: absolute;
  // background-color: red;
  height: 96rem;
  z-index: -4;
}

@media (max-width: 768px) {
  .statistic {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;

    &-item {
      background-color: var(--color-white);
      height: 18rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding: 1rem;
      border-radius: 0.75rem;
      color: var(--color-primary);
      gap: 0;

      img {
        height: 6.5rem;
      }
      h2 {
        font-size: 3rem;
        font-weight: 500;
        span {
          font-size: 1.5rem;
          margin-left: 0.8rem;
        }
      }

      p {
        font-size: 1;
        font-weight: 500;
      }
    }
  }

  .corner-call-btn {
    height: 3rem;
    width: 3rem;
    right: 1.5rem;
    bottom: 1.5rem;
  }

  .with-shape {
    &::before {
      height: 120%;
      width: 100vw;
      @include absCenterX;
      top: 0;
      border-radius: 0 0 1.5rem 1.5rem;
    }
  }

  .with-shape_right,
  .with-shape_left {
    &::before {
      height: 70%;
      width: 100vw;
      @include absCenterX;
      top: 0;
      border-radius: 0 0 1.5rem 1.5rem;
    }
  }
}
